* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: 0;
    /* font-family: 'Frank Ruhl Libre', serif; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    scroll-behavior: smooth;
}   

html {
    width: fit-content;
}

body {
    width: 100vw;
    height: 100%;
    height: 100%;
    /* background: linear-gradient(45deg, #51579c, #0a5991) no-repeat; */
    /* background-image: linear-gradient(-20deg, #b721ff 0%, #06b0d6 100%); */
    background-color: #19263a;
    overflow-x: hidden;
}

.page-heading .nav {
    padding: 15px;
    height: 5rem;
    position: fixed;
    background-color: rgb(32, 32, 32);
    border-bottom: 2px solid rgb(255, 255, 255);
    top: 0;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    color: white;
    padding-right: 26px;
}

.page-heading .nav .name {
    padding: 40px;
    margin-right: 30%;
    text-shadow: 0 0 10px rgb(255, 255, 255);
    font-size: 2rem;
}

.page-heading .nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    list-style: none;
    font-weight: 700;
    font-size: 1.3rem;
    text-shadow: 0 0 10px rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-heading .nav a:hover {
    color: #00fff7;
    text-shadow: 0 0 10px cyan;
}

#About {
    width: 100%;
    padding-top: 7rem;
}

#About .p-img {
    float: right;
    margin-right: 15rem;
    overflow: hidden;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 3px 3px 17px rgb(0, 0, 0);
    background: linear-gradient(45deg, rgb(38, 70, 102), rgb(105, 105, 243));
    height: min-content;
    width: fit-content;
    margin-top: 3rem;
    margin-bottom: 0;
    padding: 0;
    object-fit: cover;
    aspect-ratio: 6/6;
    border: 2px solid white;
}

#About .p-img img {
    width: 21rem;
    object-fit: fill;

    overflow: hidden;
    border-radius: 0;
}

#About .p-desc {
    width: 40rem;
    margin-left: 7rem;
    margin-top: 5rem;
    padding: 40px;
    color: white;
}

#About .p-desc h1 {
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}

#About .p-desc p {
    font-size: 18px;
    font-weight: 600;
}

#About .p-desc p b {
    font-weight: 900;
}

#About .p-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 25rem;
    margin-left: 8rem;
    list-style: none;
}


#About .p-btn button {
    cursor: pointer;
    width: 8rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 10px;
    font-weight: 800;
    background: rgb(255, 255, 255);
    border: 1px solid black;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1);
    background-color: rgb(22, 255, 255);
    background-color: transparent;
    color: rgb(255, 255, 255);
    outline: none;
    /* border: 2px solid rgb(0, 0, 0); */
    border: 2px solid white;
    /* box-shadow: 0 0 5px rgb(57, 55, 55); */
    font-size: 16px;
}

#About .p-btn button:hover {
    background-color: cyan;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 20px white;
    color: black;
}

#About .p-btn a:first-child button:nth-child(1) {
    background-color: rgb(9, 12, 106);
    background-color: rgba(0, 255, 255, 0.918);
    border: 3px solid white;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    box-shadow: 0 0 10px cyan;
    color: #000;
}

#About .p-btn button:hover,
#About .p-btn a:first-child button:nth-child(1):hover {
    background-color: cyan;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 50px white;
    color: black;
}

#Skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    margin-bottom: 0;
}

#Skills .flex-divs {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

#Skills h1.heading {
    color: rgb(255, 255, 255);
    margin: 40px 0;
    font-size: 50px;
    font-family: 'Frank Ruhl Libre', serif;
}

#Skills .skill-card {
    list-style: disc;
    background-color: #0D98BA;
    border: 2px dotted white;
    box-shadow: 0 0 30px white;
    border-radius: 20px;
    margin: 1rem;
    color: white;
    transition: all .7s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 20px 130px;
}

#Skills .skill-card:hover {
    border: 2px dotted rgb(0, 255, 229);
    box-shadow: 0 0 30px cyan;
}

#Skills .skill-card h1 {
    font-size: 50px;
    padding: 20px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Skills .skill-card li {
    font-size: 20px;
}

/* Services  */

#Services {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
}

#Services .heading {
    text-align: center;
    color: white;
    font-size: 60px;
    margin-bottom: 2rem;
}

#Services .sContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.sContainer .card {
    width: 20rem; 
    height: 21rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin-inline: 1rem;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px 25px;
}

.sContainer .card .top {
    overflow: hidden;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

.sContainer .card .top img {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 15rem;
    max-height: 9rem;
    object-fit: contain;
    overflow: hidden;
}

.sContainer .card .bot {
    font-size: 17px;
    overflow: hidden;
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Frank Ruhl Libre', serif;
    text-align: center;
}

.sContainer .card .bot h3 {
    font-size: 29px;
    padding: 5px;
    min-height: 40px;
}
.sContainer .card .bot h5 {
    min-height: 70px;
}



#Projects {
    width: 100vw;
    padding: 0;
    padding-top: 5rem;
}

#Projects h1.heading {
    color: white;
    font-size: 60px;
    text-align: center;
    padding-top: 0;
}

#Projects .flex-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#Projects .flex-div .pro-card{
    width: 24rem;
    height: 24rem;
    overflow: hidden;
    margin: 15px;
    padding: 5px 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 20px black;
}
#Projects .flex-div .pro-card .card-img{
    width: 100%;
    height: 200px;
    max-height: 200px;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px; /* Space between badges */
    padding: 20px;
}

.skills-badges img {
    margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
    .skills-badges {
        gap: 10px; /* Adjust space for smaller screens */
    }

    .skills-badges img {
        height: 30px; /* Resize the badges for mobile screens */
    }
}

@media screen and (max-width: 480px) {
    .skills-badges img {
        height:30px; /* Further resize the badges for very small screens */
    }
}


.pro-card .card-img img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}


#Projects .flex-div .pro-card .card-desc * {
    margin: 10px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Projects .flex-div .pro-card .card-desc a {
    margin: 3px 0;
    text-decoration: none;
    margin-top: 1rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border-radius: 20px;
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Contact {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

#Contact .heading {
    font-size: 3rem;
    color: white;
}

#Contact .flex-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Contact .flex-div .contact-form {
    width: 20rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(26, 46, 65);
    padding: 2rem;
    padding-left: 2.5rem;
    margin: 2rem;
    box-shadow: 0 6px 20px #212121;
    border-radius: 6px;
    transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: rgb(13, 15, 16);
}




#Contact .flex-div .contact-form h1,
#Contact .flex-div .contact-form h3 {
    color: white;
    text-decoration: none;
    margin: .3rem 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Contact .flex-div .contact-form .link-text {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Contact .flex-div .contact-form .button {
    /* width: 5rem; */
    text-align: center;
    cursor: pointer;
    border-radius: 7px;
    padding: 10px 20px;
    margin-block: 10px;
    font-weight: 800;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 0 10px rgb(0, 0, 0);
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1);
    background-image: linear-gradient(92.88deg, #2d56ea 9.16%, #6a54ff 43.89%, #5b25f0 64.72%);
}

#Contact .flex-div .contact-form .button:hover {
    background-color: cyan;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 50px white;
}

#footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

#footer p {
    margin: 20px;
    line-height: 26px;
    font-weight: 700;
}

#footer p a {
    text-decoration: none;
    color: white;
}

.hide {
    display: none;
    transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media screen and (max-width: 600px) {

    .page-heading .nav {
        width: auto;
        min-width: 100%;
        font-size: 20px;
        height: 3rem;
    }

    .page-heading .nav .name {
        font-size: 25px;
        padding: 0;
        margin: 0;
        width: fit-content;
        margin-left: .7rem;
    }

    .page-heading .nav a {
        display: none;
    }



    /* ABOUT  */

    #About {
        /* width: 400px; */
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 3.5rem;
        margin-bottom: 3rem;
    }

    #About .p-img {
        margin: 0;
        padding: 0;
        margin-top: 3.7rem;
    }

    #About .p-img img {
        width: 16rem;
    }

    #About .p-desc {
        width: auto;
        min-width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #About .p-desc h1 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    #About .p-desc p {
        font-size: 13px;
        margin-top: .4rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        margin-top: .2rem;
    }

    #About .p-btn button,
    #About .p-btn {
        margin: 0;
        padding: 0;
        margin-top: .5rem;
        outline: 0;
    }

    #About .p-btn a:first-child button:nth-child(1) {
        background-color: rgb(9, 12, 106);
        background-color: rgba(0, 255, 255, 0.918);
        border: 2px solid white;
        box-shadow: 0 0 10px rgb(0, 0, 0);
        box-shadow: 0 0 10px cyan;
        color: #000;
    }

    /* skills */
    #Skills {
        /* width: 400px; */
        min-width: 100%;
        padding: 0;
        margin: 0;
        padding-top: 4.8rem;
    }

    #Skills h1.heading {
        margin: 0;
        font-size: 20px;
        font-family: 'DM Serif Display', serif;
    }

    #Skills .skill-card {
        width: 15rem;
        font-size: .8rem;
        list-style: disc;
        background-color: #0D98BA;
        border: 1px dotted white;
        box-shadow: 0 0 30px rgb(205, 201, 201);
        border-radius: 5px;
        margin: .5rem;
        color: white;
        padding: 5px 28px;
        transition: all .7s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    #Skills .flex-divs {
        display: flex;
        flex-direction: column;
    }

    #Skills .skill-card h1 {
        font-size: 1.5rem;
        padding: 0px;
    }

    #Skills .skill-card li {
        font-size: 1rem;
    }

    /* Services  */

    #Services {
        width: 100%;
        flex-direction: column;
    }

    #Services .heading {
        font-size: 40px;
    }
    #Services .heading.sub-text{
        font-size: 20px;
    }


    #Services .sContainer {
        width: 100%;
        flex-direction: column;
    }

    #Services .sContainer .card {
        width: 18rem;
        height: fit-content;
    }

    #Services .sContainer .card .bot h5 {
        font-size: 12px;
    }

    #Services .sContainer .card .bot h3 {
        font-size: 19px;
        padding: 0;
    }

    /* Projects  */

    #Projects {
        /* width: 400px; */
        min-width: 100%;
        padding: 0;
        padding-top: 5rem;
        height: fit-content;
    }

    #Projects h1.heading {
        font-size: 40px;
        margin: 0;
    }

    #Projects .flex-div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: min-content;
    }

    #Projects .flex-div .pro-card {
        min-width: 17rem;
        max-width: 20rem;
        height: 20rem;
        background-color: white;
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 5px;
        margin: 1rem;
    }

    #Projects .flex-div .pro-card .card-img {
        width: 100%;
        height: fit-content;
    }

   
    #Projects .flex-div .pro-card .card-desc * {
        margin: 3px 0;
        text-decoration: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #Projects .flex-div .pro-card .card-desc a {
        margin: 3px 0;
        text-decoration: none;
        margin-top: 1rem;
        color: rgb(0, 0, 0);
        font-weight: 600;
        border-radius: 20px;
        font-size: 1rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #Projects .flex-div .pro-card .card-desc h1 {
        font-size: 1.6rem;
        margin: 0 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


    /* contacts  */
    #Contact {
        /* width: 400px; */
        min-width: 100%;
        padding: 0;
        overflow: hidden;
        margin: 0;
        padding-top: 4.7rem;
    }

    #Contact .heading {
        font-size: 40px;
        color: white;
    }

    #Contact .flex-div {
        flex-direction: column;
    }

    #Contact .flex-div .contact-form h3 {
        margin: 0;
        font-size: 80%;

    }

    #Contact .flex-div .contact-form h1 {
        font-size: 140%;
    }

    #Contact .flex-div .contact-form {
        width: 18rem;
        height: 10rem;
        margin: 0;
        margin-block: 10px;
    }

    /* HEADINGS  */

    #Skills h1.heading,
    #Projects h1.heading,
    #Contact .heading {
        font-size: 2.5rem;
        padding: 0;
    }

    /* footer 2 */
    #footer {
        /* width: 400px; */
        min-width: 100%;
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        padding-bottom: 60px;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
    }

    /* MOBILE NAV */
    .page-heading .mobile-nav {
        display: block;
        position: fixed;
        z-index: 99;
        bottom: .6rem;
        left: 50%;
        transform: translate(-50%);
    }

    .page-heading .mobile-nav .nav-bar {
        display: flex;
        width: fit-content;
        background-color: #040511;
        background-color: rgb(28, 28, 25);
        padding: 10px 20px;
        border-radius: 15rem;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }

    .page-heading .mobile-nav a {
        color: #ffffff;
        text-decoration: none;
        border-radius: 50%;
        overflow: hidden;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid rgba(255, 255, 253, 0.764);
    }

}

@media (max-width:390px) {
    * {
        padding: 0;
        margin: 0;
    }

    #About .p-btn {
        width: fit-content;
    }

    #Projects .flex-div .pro-card {
        width: 15rem;
    }

    #Contact .flex-div .contact-form {
        width: 15rem;
    }
}

@media (min-width:601px) and (max-width:1240px) {

    .page-heading .nav .name
    {
        padding: 0;
        margin-right: 40px;
    }
    #About .p-desc
    {
        width: fit-content;
        padding: 20px;
        margin-right: 1rem;
        margin-left:1rem;

    }
    #About .p-img 
    {
        margin-right:2rem;
    }
    #About .p-img img {
        width: 18rem;

    }

    #About {
        margin: 0;
    }

    /* #About
    {
       
    } */
    #Skills .skill-card {
        font-size: .8rem;
        list-style: disc;
        background-color: #0D98BA;
        border: 1px dotted white;
        box-shadow: 0 0 30px rgb(205, 201, 201);
        border-radius: 5px;
        margin: .5rem;
        color: white;
        padding: 5px 28px;
        transition: all .7s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}